<!DOCTYPE html>
<html>
  <head>
    <title>TechChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      Questions
      <div class="btn_link_w">
        <%= link_to "新規投稿", new_question_path %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
