<!DOCTYPE html>
<html>
  <head>
    <title>TechChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      Tech Chat
      <div class="flex">
        <% if user_signed_in? %>
          <p class="header_msg">こんにちは、<%= current_user.name %>さん</p>
          <div class="btn_link_w">
            <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>
          </div>  
        <% else %>
          <div class="btn_link_w">
            <%= link_to "ログイン", new_user_session_path %>
          </div>  
        <% end %>
        <div class="btn_link_w">
          <%= link_to "新規投稿", new_question_path %>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
